@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div>
    Lutfen yoneticiyle iletiime
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
