@model Microsoft.AspNetCore.Identity.IdentityUserRole<string>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["Title"];
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="RolTanimla" method="post">
            <div class="form-group">
                <label>@localizer["user"]</label>
                <input class="form-control" asp-for="UserId" />
            </div>
            <div class="form-group">
                <label>@localizer["role"]</label>
                <input class="form-control" asp-for="RoleId" />
            </div>
            <input type="submit" style="background-color: #470520; color:aliceblue" class="btn" value="@localizer["tanim"]" />
        </form>
    </div>
</div>