@page
@model ForgotPasswordModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["sifreunutuldu"];
}

<h1>@ViewData["Title"]</h1>
<h4>@localizer["iletisim"]</h4>
<hr />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
